<a href="https://colab.research.google.com/github/Ernestoaguiga/Data_Analytics_Gaming/blob/main/week_03_day_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

# 1. Creamos la conexión a una base de datos en memoria
conexion = sqlite3.connect('mi_empresa.db')

# 2. Cargamos nuestros datos de ayer para tener algo con qué jugar
datos_ayer = pd.read_csv('https://raw.githubusercontent.com/GregorUT/vgsales/master/vgsales.csv')

# 3. Guardamos esos datos en una tabla de SQL
datos_ayer.to_sql('Ventas_Videojuegos', conexion, if_exists='replace', index=False)

print("✅ ¡Bóveda de datos lista! El sistema de intercomunicación (SQL) está encendido.")

HTTPError: HTTP Error 404: Not Found

In [2]:
import sqlite3
import pandas as pd
import io

# 1. Creamos la conexión a nuestra base de datos local
conexion = sqlite3.connect('mi_empresa.db')

# 2. Los datos "manuales" del Top 40 (Nuestra fuente confiable)
csv_data = """Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
6,Tetris,GB,1989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
7,New Super Mario Bros.,DS,2006,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
8,Wii Play,Wii,2006,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
9,New Super Mario Bros. Wii,Wii,2009,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
10,Duck Hunt,NES,1984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
11,Nintendogs,DS,2005,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
12,Mario Kart DS,DS,2005,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
13,Pokemon Gold/Pokemon Silver,GB,1999,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
14,Wii Fit,Wii,2007,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
15,Wii Fit Plus,Wii,2009,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
16,Kinect Adventures!,X360,2010,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
17,Grand Theft Auto V,PS3,2013,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
18,Grand Theft Auto: San Andreas,PS2,2004,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
19,Super Mario World,SNES,1990,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
20,Brain Age: Train Your Brain in Minutes a Day,DS,2005,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22
"""
df_local = pd.read_csv(io.StringIO(csv_data))

# 3. Guardamos los datos en la tabla de SQL
df_local.to_sql('Ventas_Videojuegos', conexion, if_exists='replace', index=False)

print("✅ ¡Bóveda de SQL lista y cargada localmente!")

✅ ¡Bóveda de SQL lista y cargada localmente!

In [3]:
# La orden mágica en SQL
query = """
SELECT Name, Genre, Global_Sales
FROM Ventas_Videojuegos
WHERE Global_Sales > 30
"""

# Le pedimos a pandas que nos muestre el resultado de la orden
resultado = pd.read_sql_query(query, conexion)
display(resultado)

                       Name         Genre  Global_Sales
0                Wii Sports        Sports         82.74
1         Super Mario Bros.      Platform         40.24
2            Mario Kart Wii        Racing         35.82
3         Wii Sports Resort        Sports         33.00
4  Pokemon Red/Pokemon Blue  Role-Playing         31.37
5                    Tetris        Puzzle         30.26
6     New Super Mario Bros.      Platform         30.01

In [4]:
# Queremos el Nombre y las ventas en Japón
# Los ordenamos por JP_Sales de forma Descendente (el más alto primero)
# Y nos quedamos solo con los 5 mejores
query_japon = """
SELECT Name, JP_Sales
FROM Ventas_Videojuegos
ORDER BY JP_Sales DESC
LIMIT 5
"""

resultado_japon = pd.read_sql_query(query_japon, conexion)
display(resultado_japon)

                          Name  JP_Sales
0     Pokemon Red/Pokemon Blue     10.22
1  Pokemon Gold/Pokemon Silver      7.20
2            Super Mario Bros.      6.81
3        New Super Mario Bros.      6.50
4    New Super Mario Bros. Wii      4.70

In [5]:
# Queremos el Género y la SUMA de sus ventas globales
# Le ponemos el nombre 'Ventas_Totales' a esa suma
# Agrupamos por Género
# Y ordenamos para ver quién es el más rentable de todos
query_agrupada = """
SELECT Genre, SUM(Global_Sales) AS Ventas_Totales
FROM Ventas_Videojuegos
GROUP BY Genre
ORDER BY Ventas_Totales DESC
"""

resultado_pro = pd.read_sql_query(query_agrupada, conexion)
display(resultado_pro)

          Genre  Ventas_Totales
0        Sports          160.46
1      Platform          119.48
2          Misc           71.06
3        Racing           59.24
4  Role-Playing           54.47
5        Action           42.21
6        Puzzle           30.26
7       Shooter           28.31
8    Simulation           24.76